Database/S4/Factory Report April 2021 to 4 Jan 2024/0100000786.csv
Database/S4/Factory Report April 2021 to 4 Jan 2024/0100003271.csv
Database/S4/Factory Report April 2021 to 4 Jan 2024/0100006576.csv
Database/S4/Factory Report April 2021 to 4 Jan 2024/0100006907.csv
Database/S4/Factory Report April 2021 to 4 Jan 2024/0100006935.csv
Database/S4/Factory Report April 2021 to 4 Jan 2024/0100016670.csv
Database/S4/Factory Report April 2021 to 4 Jan 2024/0100022755.csv
Database/S4/Factory Report April 2021 to 4 Jan 2024/0100022756.csv
Database/S4/Factory Report April 2021 to 4 Jan 2024/0100022757.csv
Database/S4/Factory Report April 2021 to 4 Jan 2024/0100022758.csv
Database/S4/Factory Report April 2021 to 4 Jan 2024/0100022759.csv
Database/S4/Factory Report April 2021 to 4 Jan 2024/0100115882.csv
Database/S4/Factory Report April 2021 to 4 Jan 2024/0100117684.csv
Database/Data/Feather/Archive/canon_eng_jp_por_build_plan.feather.zstd
Database/Data/Feather/Archive/canon_eng_jp_skus.feather.zstd
Database/Data/Feather/Archive/canon_eng_ph_por_build_plan.feather.zstd
Database/Data/Feather/Archive/canon_eng_ph_skus.feather.zstd
Database/Data/Feather/Archive/canon_eng_vn_por_build_plan.feather.zstd
Database/Data/Feather/Archive/canon_eng_vn_skus.feather.zstd
Database/Data/Feather/Archive/canon_eng_zs_por_build_plan.feather.zstd
Database/Data/Feather/Archive/canon_eng_zs_skus.feather.zstd
Database/Data/Feather/Archive/canon_ffgi_jp_por_build_plan.feather.zstd
Database/Data/Feather/Archive/canon_ffgi_jp_skus.feather.zstd
Database/Data/Feather/Archive/canon_ffgi_ph_por_build_plan.feather.zstd
Database/Data/Feather/Archive/canon_ffgi_ph_skus.feather.zstd
Database/Data/Feather/Archive/canon_ffgi_vn_por_build_plan.feather.zstd
Database/Data/Feather/Archive/canon_ffgi_vn_skus.feather.zstd
Database/Data/Feather/Archive/canon_ffgi_zs_por_build_plan.feather.zstd
Database/Data/Feather/Archive/canon_ffgi_zs_skus.feather.zstd
Database/Data/Feather/business_family.feather.zstd
Database/Data/Feather/canon_eng_por_build_plan.feather.zstd
Database/Data/Feather/canon_eng_skus.feather.zstd
Database/Data/Feather/canon_etd.feather.zstd
Database/Data/Feather/canon_ffgi_por_build_plan.feather.zstd
Database/Data/Feather/canon_ffgi_skus.feather.zstd
Database/Data/Feather/canon_site.feather.zstd
Database/Data/Feather/exe_family.feather.zstd
Database/Data/Feather/factory_report.feather.zstd
Database/Data/Feather/fxnwhl_pc.feather.zstd
Database/Data/Feather/ink_por_build_plan.feather.zstd
Database/Data/Feather/ink_skus.feather.zstd
Database/Data/Feather/laser_por_build_plan.feather.zstd
Database/Data/Feather/laser_skus.feather.zstd
Database/Data/Feather/plant.feather.zstd
Database/Data/Feather/vendor.feather.zstd
Database/ISAAC/ISAAC - MANSRED.xlsx
Archive/TV Dashboard/Archive PowerBI/Cards Mock Up Rev1.pbix
Archive/TV Dashboard/Archive PowerBI/Cards Mock Up Rev2.pbix
Archive/TV Dashboard/Archive PowerBI/Cards Mock Up Rev3.pbix
Archive/TV Dashboard/Archive PowerBI/Cards Mock Up Rev4.pbix
Archive/TV Dashboard/Archive PowerBI/Cards Mock Up Rev5.pbix
Archive/TV Dashboard/Archive PowerBI/Cards Mock Up.pbix
Archive/TV Dashboard/Archive PowerBI/Print Ops Shipment Report v3.pbix
Archive/TV Dashboard/Archive PowerBI/Print Ops Shipment Report-InkLaser - BACKUP.pbix
Archive/TV Dashboard/Archive PowerBI/Print Ops Shipment Report-InkLaser_Test.pbix
Archive/TV Dashboard/Archive PowerBI/Print Ops Shipment Report-InkLaser.pbix
Archive/TV Dashboard/Archive PowerBI/Print Ops Shipment Report-InkLaser(20230414_132632).pbix
Archive/TV Dashboard/Archive PowerBI/Working Dashboard.pbix
Archive/TV Dashboard/Laser Grouping/Laser Grouping.xlsx
Archive/TV Dashboard/Planning Classification Backup/PLANNING CATEGORIZATION.csv
Archive/TV Dashboard/Planning Classification Backup/Print Ops - Laser SC Vintage Chart with and without Assignments - FY23_ver17.5.xlsx
Archive/TV Dashboard/Presentation/Dashboard Discussion.pptx
Archive/TV Dashboard/Presentation/Shipment Executive Dashboard Mockup.pptx
