Database/S4/Factory Report April 2021 to 4 Jan 2024/0100000786.csv
Database/S4/Factory Report April 2021 to 4 Jan 2024/0100003271.csv
Database/S4/Factory Report April 2021 to 4 Jan 2024/0100006576.csv
Database/S4/Factory Report April 2021 to 4 Jan 2024/0100006907.csv
Database/S4/Factory Report April 2021 to 4 Jan 2024/0100006935.csv
Database/S4/Factory Report April 2021 to 4 Jan 2024/0100016670.csv
Database/S4/Factory Report April 2021 to 4 Jan 2024/0100022755.csv
Database/S4/Factory Report April 2021 to 4 Jan 2024/0100022756.csv
Database/S4/Factory Report April 2021 to 4 Jan 2024/0100022757.csv
Database/S4/Factory Report April 2021 to 4 Jan 2024/0100022758.csv
Database/S4/Factory Report April 2021 to 4 Jan 2024/0100022759.csv
Database/S4/Factory Report April 2021 to 4 Jan 2024/0100115882.csv
Database/S4/Factory Report April 2021 to 4 Jan 2024/0100117684.csv
Database/Data/Feather/Archive/canon_eng_jp_por_build_plan.feather.zstd
Database/Data/Feather/Archive/canon_eng_jp_skus.feather.zstd
Database/Data/Feather/Archive/canon_eng_ph_por_build_plan.feather.zstd
Database/Data/Feather/Archive/canon_eng_ph_skus.feather.zstd
Database/Data/Feather/Archive/canon_eng_vn_por_build_plan.feather.zstd
Database/Data/Feather/Archive/canon_eng_vn_skus.feather.zstd
Database/Data/Feather/Archive/canon_eng_zs_por_build_plan.feather.zstd
Database/Data/Feather/Archive/canon_eng_zs_skus.feather.zstd
Database/Data/Feather/Archive/canon_ffgi_jp_por_build_plan.feather.zstd
Database/Data/Feather/Archive/canon_ffgi_jp_skus.feather.zstd
Database/Data/Feather/Archive/canon_ffgi_ph_por_build_plan.feather.zstd
Database/Data/Feather/Archive/canon_ffgi_ph_skus.feather.zstd
Database/Data/Feather/Archive/canon_ffgi_vn_por_build_plan.feather.zstd
Database/Data/Feather/Archive/canon_ffgi_vn_skus.feather.zstd
Database/Data/Feather/Archive/canon_ffgi_zs_por_build_plan.feather.zstd
Database/Data/Feather/Archive/canon_ffgi_zs_skus.feather.zstd
Database/Data/Feather/business_family.feather.zstd
Database/Data/Feather/canon_eng_por_build_plan.feather.zstd
Database/Data/Feather/canon_eng_skus.feather.zstd
Database/Data/Feather/canon_etd.feather.zstd
Database/Data/Feather/canon_ffgi_por_build_plan.feather.zstd
Database/Data/Feather/canon_ffgi_skus.feather.zstd
Database/Data/Feather/canon_site.feather.zstd
Database/Data/Feather/exe_family.feather.zstd
Database/Data/Feather/factory_report.feather.zstd
Database/Data/Feather/fxnwhl_pc.feather.zstd
Database/Data/Feather/ink_por_build_plan.feather.zstd
Database/Data/Feather/ink_skus.feather.zstd
Database/Data/Feather/laser_por_build_plan.feather.zstd
Database/Data/Feather/laser_skus.feather.zstd
Database/Data/Feather/plant.feather.zstd
Database/Data/Feather/vendor.feather.zstd
Database/ISAAC/ISAAC - MANSRED.xlsx
Archive/TV Dashboard/Archive PowerBI/Cards Mock Up Rev1.pbix
Archive/TV Dashboard/Archive PowerBI/Cards Mock Up Rev2.pbix
Archive/TV Dashboard/Archive PowerBI/Cards Mock Up Rev3.pbix
Archive/TV Dashboard/Archive PowerBI/Cards Mock Up Rev4.pbix
Archive/TV Dashboard/Archive PowerBI/Cards Mock Up Rev5.pbix
Archive/TV Dashboard/Archive PowerBI/Cards Mock Up.pbix
Archive/TV Dashboard/Archive PowerBI/Print Ops Shipment Report v3.pbix
Archive/TV Dashboard/Archive PowerBI/Print Ops Shipment Report-InkLaser - BACKUP.pbix
Archive/TV Dashboard/Archive PowerBI/Print Ops Shipment Report-InkLaser_Test.pbix
Archive/TV Dashboard/Archive PowerBI/Print Ops Shipment Report-InkLaser.pbix
Archive/TV Dashboard/Archive PowerBI/Print Ops Shipment Report-InkLaser(20230414_132632).pbix
Archive/TV Dashboard/Archive PowerBI/Working Dashboard.pbix
Archive/TV Dashboard/Laser Grouping/Laser Grouping.xlsx
Archive/TV Dashboard/Planning Classification Backup/PLANNING CATEGORIZATION.csv
Archive/TV Dashboard/Planning Classification Backup/Print Ops - Laser SC Vintage Chart with and without Assignments - FY23_ver17.5.xlsx
Archive/TV Dashboard/Presentation/Dashboard Discussion.pptx
Archive/TV Dashboard/Presentation/Shipment Executive Dashboard Mockup.pptx
Archive/AB Update/AB Creation.py
Archive/AB Update/AB Incremental.py
Archive/AB Update/AB.bat
Archive/SAIL/Lynn/Shipment with POR open items 07252022.xlsx
Archive/SAIL/Attainment/backlog.JPG
Archive/SAIL/Attainment/Capture3.JPG
Archive/SAIL/PowerBI/Command Centre.pbix
Archive/SAIL/PowerBI/SAIL.pbix
Archive/SAIL/PowerBI/Shipment Vs PO - With Month Attainment.pbix
Archive/PUMORI/Code/Pumori Data.ipynb
Archive/PUMORI/Code/PUMORI.ipynb
Archive/PUMORI/Code/.ipynb_checkpoints/PUMORI-checkpoint.ipynb
Archive/PUMORI/Data/All Pumori Master Data.xlsx
Archive/PUMORI/Data/Ink Pumori Master Data.xlsx
Archive/PUMORI/Data/Pumori BI Master Data.xlsx
Archive/PUMORI/Data/WhereUsedBOMBySKU-Hayley.xlsx
SAIL/Data/CANON/CANON ESC COST.py
SAIL/Data/CANON/Canon Shipment Report Help.msg
SAIL/Data/CANON/Canon Shipment Report.SQL
SAIL/Data/CANON/OTD Custom 03182022.csv
SAIL/Data/CANON/PHS PMF - 2023-02.xlsx
SAIL/Data/CANON/CANON SHIPMENT AND ESC/Canon bulk Toner Aug 22.xlsx
SAIL/Data/CANON/CANON SHIPMENT AND ESC/Canon Engine Aug 22.xls
SAIL/Data/CANON/CANON SHIPMENT AND ESC/CANON FINAL.xlsx
SAIL/Data/CANON/CANON SHIPMENT AND ESC/Canon Toner Aug 22.xlsx
SAIL/Data/CANON/CANON SHIPMENT AND ESC/FIRST CLEAN.xlsx
SAIL/Data/CANON/CANON SHIPMENT AND ESC/FW Aug Canon cost files.msg
SAIL/Data/CANON/CANON SHIPMENT AND ESC/PHS PMF - 2022-06.xlsx
SAIL/Data/CANON/CANON SHIPMENT AND ESC/PLATFORM AND PRICE.xlsx
SAIL/Data/CANON/CANON SHIPMENT AND ESC/RI AIO.xlsx
SAIL/Data/CANON/CANON SHIPMENT AND ESC/RI_AIO_CANON.csv
SAIL/Data/FXN CZ/FXN CZ Shipment Data.xlsx
SAIL/Data/HPPS/Exclude Interplant HPPS.txt
SAIL/Data/HPPS/HPPS Feb March billing normal.xlsx
SAIL/Data/HPPS/HPPS MISSING REGION.txt
SAIL/Data/JWHL/BG_AMS_MAY_Shipment.xlsx
SAIL/Data/LOCATION MAPPING/Location Mapping.png
Database/Code/__pycache__/credentials.cpython-310.pyc
Database/Code/__pycache__/db_func.cpython-310.pyc
Database/Code/.ipynb_checkpoints/ISAAC-checkpoint.ipynb
SAIL/Code/__pycache__/business.cpython-38.pyc
SAIL/Code/__pycache__/business.cpython-39.pyc
SAIL/Code/__pycache__/business.cpython-310.pyc
SAIL/Code/__pycache__/credentials.cpython-310.pyc
SAIL/Code/__pycache__/function_map_V2.cpython-310.pyc
SAIL/Code/__pycache__/function_map.cpython-38.pyc
SAIL/Code/__pycache__/function_map.cpython-39.pyc
SAIL/Code/__pycache__/function_map.cpython-310.pyc
PowerBI/New HP Report.json
MSP Alert/.ipynb_checkpoints/APL-checkpoint.ipynb
MSP Alert/.ipynb_checkpoints/LT Validation-checkpoint.ipynb
MSP Alert/.ipynb_checkpoints/MOQ-checkpoint.ipynb
MSP Alert/Analyze In Excel/Master Data.xlsx
Database/S4/Consolidation.xlsx
Database/S4/S4 Plants.xlsx
Database/Data Cleanup/TL/TL Region.py
Database/Data Cleanup/TL/TL Region.xlsx
Database/Data Cleanup/TL/TL_Region.csv
Database/Code/credentials.py
Database/Code/ISAAC.ipynb
MSP Alert/Documentation/LT CHECK.xlsx
MSP Alert/Documentation/UAT Template - Analytics.xlsx
Database/AWS Data Check with Old SAIL/Check.csv
Database/AWS Data Check with Old SAIL/fxncz_jcuu_correct.xlsx
Database/AWS Data Check with Old SAIL/Inkjet SQL_Shipment_18_April.xlsx
Database/AWS Data Check with Old SAIL/Inkjet_Shipment.csv
Database/AWS Data Check with Old SAIL/laser_month.csv
Database/AWS Data Check with Old SAIL/pcc_check.xlsx
Database/AWS Data Check with Old SAIL/Shipment.csv
Database/Code/Archive/Cleanup Backup Code.py
Database/Code/Archive/ISAAC_incremental_update_old.py
Database/Code/Archive/sql.bat
Database/Code/Archive/sql.yml
